body {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.shape-wrapper {
	min-height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shape {
	width: 100px;
	height: 100px;
	margin: 10px;
	border-radius: 50%;
	opacity: 0.85;
	animation-duration: 3s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
}

.shape1 {
	background-color: #FF4136;
	animation-name: shape1;
}

.shape2 {
	background-color: #FF851B;
	animation-name: shape2;
}

.shape3 {
	background-color: #FFDC00;
	animation-name: shape3;
}

.shape4 {
	background-color: #2ECC40;
	animation-name: shape4;
}

.shape5 {
	background-color: #0074D9;
	animation-name: shape5;
}

.shape6 {
	background-color: #B10DC9;
	animation-name: shape6;
}

.shape7 {
	background-color: #F012BE;
	animation-name: shape7;
}

.shape8 {
	background-color: #7FDBFF;
	animation-name: shape8;
}

.shape9 {
	background-color: #39CCCC;
	animation-name: shape9;
}

.shape10 {
	background-color: #01FF70;
	animation-name: shape10;
}

.shape11 {
	background-color: #d501ff;
	animation-name: shape11;
}

.shape12 {
	background-color: #01fbff;
	animation-name: shape12;
}

@keyframes shape1 {
	0% {
		height: 100px;
		transform: rotate(0deg);
	}

	50% {
		height: 120px;
		transform: rotate(0deg);
	}

	100% {
		height: 100px;
		transform: rotate(360deg);
	}
}

@keyframes shape2 {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.5);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes shape3 {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(200px);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes shape4 {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes shape5 {
	0% {
		border-radius: 50%;
	}

	50% {
		border-radius: 15%;
	}

	100% {
		border-radius: 50%;
	}
}

@keyframes shape6 {
	0% {
		height: 100px;
		transform: rotate(0deg);
	}

	50% {
		height: 120px;
		transform: rotate(360deg);
	}

	100% {
		height: 100px;
		transform: rotate(180deg);
	}
}

@keyframes shape7 {
	0% {
		transform: rotateX(0deg) rotateY(0deg);
	}

	50% {
		transform: rotateX(180deg) rotateY(360deg);
	}

	100% {
		transform: rotateX(0deg) rotateY(0deg);
	}
}

@keyframes shape8 {
	0% {
		transform: translateY(0px);
	}

	25% {
		transform: translateY(-75px);
	}

	50% {
		transform: translateY(0px);
	}

	75% {
		transform: translateY(75px);
	}

	100% {
		transform: translateY(0px);
	}
}

@keyframes shape9 {
	0% {
		transform: scaleX(1);
	}

	50% {
		transform: scaleX(1.5);
	}

	100% {
		transform: scaleX(1);
	}
}

@keyframes shape10 {
	0% {
		transform: skew(0deg, 0deg);
	}

	50% {
		transform: skew(20deg, -20deg);
	}

	100% {
		transform: skew(0deg, 0deg);
	}
}

@keyframes shape11 {
	0% {
		transform: skew(0deg, 0deg);
	}

	50% {
		transform: skew(20deg, -20deg);
	}

	100% {
		transform: skew(0deg, 0deg);
	}
}

@keyframes shape12 {
	0% {
		transform: skew(0deg, 0deg);
	}

	50% {
		transform: skew(20deg, -20deg);
	}

	100% {
		transform: skew(0deg, 0deg);
	}
}